- if photo.images.first && photo.images.second && photo.images.third #写真枚数で表示変更
  .photo_image_three
    .photo_image_three_first
      = image_tag photo.images.first
    .photo_image_three_second
      = image_tag photo.images.second
    .photo_image_three_third
      = image_tag photo.images.third
- elsif photo.images.first && photo.images.second
  .photo_image_two
    .photo_image_two_first
      = image_tag photo.images.first
    .photo_image_two_second
      = image_tag photo.images.second
- else photo.images.first
  .photo_image_one
    .photo_image_one_first
      = image_tag photo.images.first
      