.profilePage
  .profilePage_account
    = user.account
  - if user == @user
    .profilePage_followbtn
      .profilePage_followbtn_following.hidden.following
        %p Following
      .profilePage_followbtn_follow.hidden.follow
        %p Follow
.profilePage_user
  .profilePage_user_image#image_preview
    = image_tag user.avatar_image

- if user == current_user  
  = form_with(model: @profile, url: profile_path, method: 'put', local: true, scope: :profile) do |f|
    %div{:hidden => ""}
      = f.file_field :avatar, id: 'file_field'
    = f.submit 'Seve', class: 'btn-primary_min'

.profilePage_value
  .profilePage_value_posts
    .profilePage_value_posts_count
      %p= user.photo_count
    .profilePage_value_posts_text
      %p Posts
  .profilePage_value_followers
    = link_to account_follows_path(user) do
      .profilePage_value_followers_count#follower_count
        %p= user.follower_count
      .profilePage_value_followers_text
        %p Followers
  .profilePage_value_following
    = link_to account_followings_path(user) do
      .profilePage_value_following_count
        %p= user.following_count
      .profilePage_value_following_text
        %p Following

= javascript_pack_tag 'photo'
