.container
  = link_to new_photo_path do
    .float_btn
      %i.fa.fa-camera.fa-2x
  - @photos.each do |photo|
    .photo#photo-id{data: {photo_id: photo.id}}
      .photo_detail
        = image_tag photo.user.avatar_image
        %div
          %p= photo.user.account
          %p= photo.display_created_at
        - if user_signed_in? && current_user.has_written?(photo) #ログインして尚且つ自分の写真か
          .photo_detail_actions
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to 'Edit', edit_photo_path(photo)
                = link_to 'Delete', photo_path(photo), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
      - if photo.images.first && photo.images.second && photo.images.third #写真枚数で表示変更
        .photo_image_three
          .photo_image_three_first
            = image_tag photo.images.first
          .photo_image_three_second
            = image_tag photo.images.second
          .photo_image_three_third
            = image_tag photo.images.third
      - elsif photo.images.first && photo.images.second
        .photo_image_two
          .photo_image_two_first
            = image_tag photo.images.first
          .photo_image_two_second
            = image_tag photo.images.second
      - else photo.images.first
        .photo_image_one
          .photo_image_one_first
            = image_tag photo.images.first
      .photo_icon
        - if user_signed_in?
          .photo_icon_heart.hidden{class: "active-heart#{photo.id}"}
            = image_tag 'heart-active.png'
            %span= photo.like_count
          .photo_icon_heart.hidden{class: "inactive-heart#{photo.id}"}
            = image_tag 'heart.png'
            %span= photo.like_count
        .photo_icon_comment
          = image_tag 'comment.png'
          %span 23
        = link_to "https://twitter.com/share?url=#{ request.url }&text=PhotoAppに写真を投稿しました。", target: '_blank' do
          .photo_icon_share
            = image_tag 'share.png'
      .photo_content
        .photo_title
          %p= photo.content

= javascript_pack_tag 'photo'
