.container
  .form_header
    .form_header_cance
      %p= link_to 'Cance', root_path
    .form_header_status
      %p Status
    .form_header_post#formHeaderPost
      %p Post
  .form
    .form_detail
      = image_tag @photo.user.avatar_image
    .form_account
      %p= current_user.account

  %ul
    - @photo.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @photo, url: photos_path, method: 'post', local: true) do |f|
    %div
      = f.text_area :content, :placeholder => 'What`s on mind ?'
    %div
      = f.label :images, '+ Album', class:'image_input_btn', id: 'imageInputBtn'
    %div
      = f.file_field :images ,multiple: true, class: 'display_none', id: 'imagesBtn'
    .images_preview#imagesPreview
      - if @photo.images.attached?
        - @photo.images.each do |image|
          = image_tag image
    = f.submit '保存', class: 'display_none', id: 'submitBtn'

= javascript_pack_tag 'form'
